## Some Starters for the class!
Given two lists of equal sizes.. create another unique list which has elements of both the lists

In [ ]:
lst1 = [2,4,6,8,10]
lst2 = [1,3,5,7,9]
newlst = [2,4,6,8,10,1,3,5,7,9]

In [1]:
a = [1,2,4]
b = a

In [3]:
b[2] = 0

In [4]:
b

[1, 2, 0]

In [5]:
a

[1, 2, 0]

In [6]:
a = [1,2,4]
b = a.copy()
b[2] =0
print("A: ",a)
print("B: ",b)

A:  [1, 2, 4]
B:  [1, 2, 0]

### Solution

In [17]:
lst1 = [2,4,6,8,10]
lst2 = [1,3,5,7,9]
lst3= lst1+lst2

In [12]:
lst3[3] = 0
lst3

[2, 4, 6, 0, 10, 1, 3, 5, 7, 9]

In [18]:
lst1.extend(lst2)

In [19]:
lst1

[2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

# Set

#### 1. Define a set with '{}'
#### 2. Set does not allow duplicate data to persist inside it
#### 3. Se does not allow accessing elements using Index
#### 4. Immutable
#### 5. Positional Information is not there (elements ordering tend to change!)

In [20]:
sample_set = {1,2,3,4,5,6,1,2,3,1,2,3,2,3}

In [21]:
print(sample_set)

{1, 2, 3, 4, 5, 6}

In [22]:
sample_set[0]

TypeError: ignored

In [23]:
sample_set[1] = 2

TypeError: ignored

In [24]:
sample_set = {1,3,2,200,10,15,1,2,3,1,2,3,2,3}

In [25]:
print(sample_set)

{1, 2, 3, 200, 10, 15}

In [26]:
sample_set = {1,3,2,10,8,1,2,3,1,2,3,2,3}

In [27]:
print(sample_set)

{1, 2, 3, 8, 10}

In [29]:
type(list({1,2,3,4,5}))

list

In [31]:
list(set([1,3,2,10,8,1,2,3,1,2,3,2,3]))

[1, 2, 3, 8, 10]

In [32]:
s={7,8,9,1}
s1=sorted(s)
print(s1)

[1, 7, 8, 9]

# Dictionaries Extending the usability of Sets!
#### 1. Dictionary stores data in Key-value pairs
#### 2. Key is unique and values can be duplicated
#### 3. Can revieve the values using keys
#### 4. Can change the values using keys
#### 5. Keys are immutable

In [33]:
#Syntax
#{KEY : VALUE}

In [34]:
sample_dictionary = {"Inceptez20":36,"Inceptez21":40,"Inceptez22":32}

In [39]:
sample_dictionary = {"Inceptez20":['Dinesh','Jai','Jameela'],"Inceptez21":['Thiayanesh','Rishi'],"Inceptez20":['Ganesh','Prabhu','Guru']}

In [40]:
sample_dictionary

{'Inceptez20': ['Ganesh', 'Prabhu', 'Guru'],
 'Inceptez21': ['Thiayanesh', 'Rishi']}

In [35]:
sample_dictionary['Inceptez20']

36

In [41]:
sample_dictionary[0]

KeyError: ignored

### Exercise Dictionaries: Write a python program to access dictionary key elements using index. i.e Use index methods to print the first key..

In [ ]:
Ex: marks = {"Physics":80,"Math":90,"CS":50}

Input: 0
OUTPUT: Physics

In [43]:
marks = {"Physics":80,"Math":90,"CS":50}
list(marks)
print(list(marks)[0])

Physics

In [46]:
list(marks.keys())[0]

'Physics'

In [48]:
list(marks.values())[0]

80

#Tuple

#### 1. Tuple allows heterogenous data
#### 2. syntax is using '('
#### 3. Immutable by index

In [54]:
sample_tuple = (1,2,3,4,4,4,4,5)

In [50]:
type(sample_tuple)

tuple

In [51]:
sample_tuple[2]

3

In [53]:
sample_tuple[2] = 10

TypeError: ignored

In [56]:
sample_tuple.count(4)

4

## Type Conversion

In [ ]:
list()
tuple()
set()
dict()

In [58]:
sample_list = list(sample_tuple)

In [59]:
sample_list

[1, 2, 3, 4, 4, 4, 4, 5]

In [60]:
sample_list = set(sample_tuple)

In [62]:
sample_list

{1, 2, 3, 4, 5}

In [63]:
dict(sample_tuple)

TypeError: ignored

In [66]:
sample_lst = ([1, 2], [3, 4], [4, 4], [4, 5])

In [67]:
dict(sample_lst)

{1: 2, 3: 4, 4: 5}

# LOOPS
1. Conditional Loops: if - else loop

In [ ]:
if(class is legit):
  if(trainer is good):
    if(reviews are good):
      if(syllabus / curriculum is good):
        if(timings match):
          Join
  else:
    dont join
else:
  Dont Join

In [ ]:
[Tab space] - Idendation which defines a block in python!

In [ ]:
if statement:
  jbj
  dsds
  ds
  ds
  sdsd
  dsd
  <IF BLOCK>
  if statement2:
    <SECOND IF BLOcK>
    if statement3:
      <THIRD IF BLOCK>
    else:
      <third ifs else>
  else:
    <SEcond ifs else>
else:
  <first if ELSE BLOCK>

In [70]:
#BY default user input is a string
user_input = int(input("Please enter a number"))
if user_input < 5:
  print("LESS THAN FIVE")
else:
  print("GREATER THAN FIVE")

Please enter a number10
GREATER THAN FIVE

### Operators to be used inside IF
1. Equal to operator: a == b
2. Not Equal to: a != b
3. Less than: a < b
4. Greater than: a > b
5. Less than or equal: a <= b
6. Greater than or equal: a >=b

### Logical Operators:
1. and
2. or
3. not

In [ ]:
if (Condition):
  some condition
else:
  some condition

In [69]:
True -> 1
1 and 1 -> True
1 or 1 -> True
False -> 0

In [69]:
if (draw1 = apple)and(draw2 = apple): #Both of this has to be true!
  some condition
else:
  some condition

In [69]:
if (draw1 = apple)or(draw2 = apple): #either of this has to be true!
  some condition
else:
  some condition

In [69]:
not(people doing from inceptez)

In [69]:
Not(A)=> 1 - A

## How do I give condition in my else???

# ELIF

In [ ]:
if Condition: #First check point
  Statement
elif Condition: #Alternate fallback second check point
  Statement
elif Condtion:
  Statement
else: #Last resort statement
  default statement

In [ ]:
if Condition: #First check point
  Statement
if condition2: #This if will be checked irrespective of the first if being right / wrong
  Statement
else: #Last resort statement
  default statement

In [ ]:
get input - Mark
>80 - A - if
>90 - S - if
50 - 80- included - B -elif
else: - F

In [ ]:
If ladder
if Condition:
  <BlOck>
if Condition:
  <Block>
if COnditioon:
  <Block>

In [ ]:
Nested IF:
if condition:
  if condition:
    if condition:
      if condition:
        pass

In [73]:
name = "Narayen"
if (name == "Laxmi"):
  print("Hi Laxmi")
else:
  pass