In [3]:
def square(y):
    return y*y

In [4]:
square(2)

4

Anonymous Function: because it has no name
## Lambda function
Syntax:
lambda arguments: operation

In [31]:
s = lambda y: y*y
print(s(2))

4

## Map
syntax: map(function, *itreators)
Init signature: map(self, /, *args, **kwargs)
Docstring:     
map(func, *iterables) --> map object

Make an iterator that computes the function using arguments from
each of the iterables.  Stops when the shortest iterable is exhausted.

## Without map

In [7]:
myfriends = ['jack','sparrow','harry','potter']
uppercase = []

for names in myfriends:
    name_upper = names.upper()
    uppercase.append(name_upper)
uppercase

['JACK', 'SPARROW', 'HARRY', 'POTTER']

In [8]:
map(str.upper,myfriends)

In [12]:
myfriends = ['jack','sparrow','harry','potter']

uppercase = list(map(str.upper,myfriends))

In [13]:
uppercase

['JACK', 'SPARROW', 'HARRY', 'POTTER']

In [14]:
myfriends = ['jack','sparrow','harry','potter',1]

uppercase = list(map(str.upper,myfriends))

TypeError: descriptor 'upper' requires a 'str' object but received a 'int'

In [15]:
float_numbers = [4.77,2.33,9.02,10.67,0.66,4.67]

round_numbers = list(map(round,float_numbers))

In [16]:
round_numbers

[5, 2, 9, 11, 1, 5]

## NOT anonymous
## Zip and Enumerate

## Zip
Iterate over two lists in parallel

In [21]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]
for i,j in zip(a,b):
    print(i*j)

6
14
24
36
50

## Zip is not nested loop

In [22]:
for i in a:
    for j in b:
        print(i*j)

6
7
8
9
10
12
14
16
18
20
18
21
24
27
30
24
28
32
36
40
30
35
40
45
50

In [23]:
a = [1,2,3,4,5]
b = [6,7,8,9]
for i,j in zip(a,b):
    print(i*j)

6
14
24
36

## Enumerate

In [25]:
a = ['a','b','c','d']
for i,a in enumerate(a):
    print(i,a)

0 a
1 b
2 c
3 d

In [28]:
a = [20,40,50,60]
b = [2,4,6,8]

for i,(a_i,b_i) in enumerate(zip(a,b)):
    print(a_i*b_i,i)

40 0
160 1
300 2
480 3

In [29]:
names = ['jack','sparrow','harry','potter']
index = [1,2,3,4]
with_index = list(zip(names,index))
print(with_index)

[('jack', 1), ('sparrow', 2), ('harry', 3), ('potter', 4)]

## Make use of Map and Lambda to generate the same:
[('jack', 1), ('sparrow', 2), ('harry', 3), ('potter', 4)]

In [30]:
names = ['jack','sparrow','harry','potter']
index = [1,2,3,4]

list(map(lambda i,j: (i,j),names,index))

[('jack', 1), ('sparrow', 2), ('harry', 3), ('potter', 4)]

## Filter
Init signature: filter(self, /, *args, **kwargs)
Docstring:     
filter(function or None, iterable) --> filter object

Return an iterator yielding those items of iterable for which function(item)
is true. If function is None, return the items that are true.

In [32]:
#without filter

In [34]:
salary = [50000,35000,25000,60000]
def lower_salary(salaries):
    return salaries < 50000

for i in salary:
    if(lower_salary(i)):
        print(i)

35000
25000

In [38]:
#MAP VS FILTER In terms of for loops
#MAP
salary = [50000,35000,25000,60000]
def lower_salary(salaries):
    return salaries < 50000

for i in salary:
    print(lower_salary(i))

False
True
True
False

In [39]:
#Filter
salary = [50000,35000,25000,60000]
def lower_salary(salaries):
    return salaries < 50000

for i in salary:
    if(lower_salary(i)):
        print(i)

35000
25000

In [41]:
list(map(lower_salary,salary))

[False, True, True, False]

In [37]:
filter(lower_salary,salary)

In [42]:
list(filter(lower_salary,salary))

[35000, 25000]

## List Comprehension

In [83]:
words = ['inceptz','batch13','pythn','class']
vowels = ['a','e','i','o','u']

In [104]:
import datetime 
start = datetime.datetime.now()
for i in words: 
    for j in i:
        if(j in vowels):
            print(i)
print((datetime.datetime.now() - start)*1000)

inceptz
inceptz
batch13
class
0:00:00.997000

In [105]:
start = datetime.datetime.now()
for i in words: 
    word = list(i)
    #print(word)
    if(any(k in vowels for k in word)):
        print(i)
print((datetime.datetime.now() - start)*1000)

inceptz
batch13
class
0:00:00.986000

In [107]:
start = datetime.datetime.now()
hal = [i for i in words for k in i if k in vowels]
print((datetime.datetime.now() - start)*1000)

0:00:00

In [109]:
list_10 = [10,20,50,60]
[i for i in list_10]

[10, 20, 50, 60]